<header id="wn__header" class="header__area header__absolute sticky__header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo/logo.png" alt="logo images">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 d-none d-lg-block">
                <nav class="mainmenu__nav">
                    <ul class="meninmenu d-flex justify-content-start">
                        <li class="drop with--one--item"><a href="/">Trang chủ</a></li>
                        <li class="drop"><a href="/book-shop">Sách</a></li>
                        <li><a href="/about-us">Giới thiệu</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                        <li><a href="/faq">Hỏi đáp</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                    <li class="shop_search"><a class="search__active"></a></li>
                    <li class="wishlist"><a href="#"></a></li>
                    <li class="shopcart"><a class="cartbox_active"><span class="product_qun" id="cart-badge">{{totalQuantity}}</span></a>
                        <!-- Start Shopping Cart -->
                        <div class="block-minicart minicart__active">
                            <div class="minicart-content-wrapper">
                                <div class="micart__close">
                                    <span>Đóng</span>
                                </div>
                                {{#with cart}}
                                <div class="items-total d-flex justify-content-between">
                                    <span id ="cart-total-quantity">{{totalQuantity}} món</span> 
                                    <span>Tổng tiền</span>
                                </div>
                                <div class="total_amount text-right">
                                    <span id="cart-total-price">{{totalPrice}}<sup>đ</sup></span><span> VNĐ</span>
                                </div>
                                <div class="mini_action checkout">
                                    <a class="checkout__btn" href="/cart">Kiểm tra giỏ hàng</a>
                                </div>
                                {{/with}}
                            </div>
                        </div>
                        <!-- End Shopping Cart -->
                    </li>
                    <li >
                        {{#if user}}
                            <a class="setting__active" href="my-account.html">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="searchbar__content setting__block">
                                <div class="content-inner">
                                    <div class="switcher-currency">
                                        <strong class="label switcher-label">
                                            <span>Tài khoản của tôi</span>
                                        </strong>
                                        <div class="switcher-options">
                                            <div class="switcher-currency-trigger">
                                                <div class="setting__menu">
                                                    <span><a href="#"></a></span>
                                                    <span><a href="/user/account">Tài khoản của tôi</a></span>
                                                    <span><a href="/user/password">Đổi mật khẩu</a></span>
                                                    <span><a href="/cart">Giỏ hàng</a></span>
                                                    <span><a href="/user/logout">Đăng xuất</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <a href="/user/login">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        {{/if}}
                    
                    </li>
                </ul>
            </div>
        </div>
        <!-- Start Mobile Menu -->
        <div class="row d-none">
            <div class="col-lg-12 d-none">
                <nav class="mobilemenu__nav">
                    <ul class="meninmenu">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="#">Pages</a>
                            <ul>
                                <li><a href="/about-us">Giới thiệu</a></li>
                                <li><a href="/cart">Xem và sửa giỏ hàng</a></li>
                                <li><a href="/checkout">Checkout Page</a></li>
                                <li><a href="/faq">Hỏi đáp</a></li>
                            </ul>
                        </li>
                        <li><a href="book-shop">Sách</a>   
                        </li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Mobile Menu -->
        <div class="mobile-menu d-block d-lg-none">
        </div>
        <!-- Mobile Menu -->	
    </div>		
</header>