	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">XÁC NHẬN ĐÃ MUA HÀNG</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Trang chủ</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Xác nhận đã mua hàng</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start About Area -->
        <div class="page-about about_area bg--white section-padding--lg">
        	<div class="container">
				<div class="row">
        			<div class="col-lg-12">
        				<div class="section__title--3 text-center pb--30">
        					<h2>XÁC NHẬN ĐÃ MUA HÀNG</h2>
							<h3>CẢM ƠN BẠN ĐÃ MUA HÀNG TẠI <span style="color: red;"><b>BOOKSTORE</b></span></h3>
        				</div>
        			</div>
        		</div>
        		<div class="row align-items-center">				
        			<div class="col-lg-12 col-sm-12 col-12">
        				<div class="content text-center">        				
        					<h5 class="mt--20 mb--20">Bạn vui lòng kiểm tra Email để xem chi tiết và tình trạng đơn hàng. Xin cảm ơn !</h5>        				
        				</div>
        			</div>
        		</div>
        	</div>
            <br>
            <div class="text-center">
                <button class="btn-lg btn-primary" onclick="location.href='/book-shop'">Tiếp tục mua hàng</button>
            </div>
            
        </div>
        <!-- End About Area -->
        <!-- Start Team Area -->
        <!-- End Team Area -->		
</div>
	<!-- //Main wrapper -->

	