	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">VỀ CHÚNG TÔI</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Trang chủ</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Về chúng tôi</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start About Area -->
        <div class="page-about about_area bg--white section-padding--lg">
        	<div class="container">
				<div class="row">
        			<div class="col-lg-12">
        				<div class="section__title--3 text-center pb--30">
        					<h2>SỨ MỆNH CỦA BOOKSTORE</h2>
							<h3>"MANG VĂN HÓA ĐỌC ĐẾN VỚI MỌI NHÀ"!</h3>
        				</div>
        			</div>
        		</div>
        		<div class="row align-items-center">				
        			<div class="col-lg-12 col-sm-12 col-12">
        				<div class="content">        				
        					<p class="mt--20 mb--20">BOOKSTORE là thương hiệu hàng đầu trong ngành Phát hành sách Việt Nam, ngay từ thời bao cấp cho đến thời kỳ kinh tế thị trường, đổi mới, hội nhập quốc tế, Công ty BOOKSTORE luôn khẳng định vị thế đầu ngành và được đánh giá cao trong quá trình xây dựng đời sống văn hóa, trước hết là văn hóa đọc của nước nhà. Là doanh nghiệp kinh doanh trên lĩnh vực văn hóa, Công ty BOOKSTORE có vai trò và vị thế trong việc giữ vững định hướng tư tưởng văn hóa của Nhà nước, góp phần tích cực vào việc đáp ứng nhu cầu đọc sách của Nhân dân Thành phố Hồ Chí Minh và cả nước; thể hiện toàn diện các chức năng kinh tế - văn hóa - xã hội. Thông qua các chủ trương và hoạt động như: duy trì một số Nhà sách ở các tỉnh có nền kinh tế chưa phát triển, công trình Xe sách Lưu động BOOKSTORE phục vụ bạn đọc ngoại thành tại các huyện vùng sâu, vùng xa, định kỳ tổ chức các Hội sách với nhiều quy mô lớn nhỏ khác nhau… chứng minh rằng BOOKSTORE không chỉ quan tâm đến việc kinh doanh mà còn mang đến mọi người nguồn tri thức quý báu, góp phần không ngừng nâng cao dân trí cho người dân ở mọi miền đất nước, thể hiện sự hài hòa giữa các mục tiêu kinh doanh và hoạt động phục vụ xã hội của BOOKSTORE.</p>        				
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End About Area -->
        <!-- Start Team Area -->
        <section class="wn__team__area pb--75 bg--white">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12">
        				<div class="section__title--3 text-center">
        					<h2>ĐỘI NGŨ PHÁT TRIỂN</h2>
        				</div>
        			</div>
        		</div>
        		<div class="row">
					{{#each member}}
        			<!-- Start Single Team -->
        			<div class="col-lg-4 col-md-4 col-sm-6 col-12">
        				<div class="wn__team">
        					<div class="thumb">
        						<img src={{image}} alt="Team images">
        					</div>
        					<div class="content text-center">
        						<h4>{{name}}</h4>
        						<ul class="team__social__net">
        							<li><a href={{facebook}}><i class="icon-social-facebook icons"></i></a></li>
        							<li><a href={{github}}><i class="icon-social-github icons"></i></a></li>
        						</ul>
        					</div>
        				</div>
        			</div>
					{{/each}}
        			<!-- End Single Team -->
        		</div>
        	</div>
        </section>
        <!-- End Team Area -->		
</div>
	<!-- //Main wrapper -->

	