<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
	<!-- Start Search Popup -->
	<div class="box-search-content search_active block-bg close__top">
		<form id="search_mini_form" class="minisearch" action="#">
			<div class="field__search">
				<input type="text" placeholder="Search entire store here...">
				<div class="action">
					<a href="#"><i class="zmdi zmdi-search"></i></a>
				</div>
			</div>
		</form>
		<div class="close__wrap">
			<span>close</span>
		</div>
	</div>
	<!-- End Search Popup -->
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area bg-image--6">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="bradcaump__inner text-center">
						<h2 class="bradcaump-title">LIÊN HỆ</h2>
						<nav class="bradcaump-content">
							<a class="breadcrumb_item" href="/">Trang chủ</a>
							<span class="brd-separetor">/</span>
							<span class="breadcrumb_item active">Liên hệ</span>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Bradcaump area -->
	<!-- Start Contact Area -->
	<section class="wn_contact_area bg--white pt--80 pb--80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12 md-mt-40 sm-mt-40">
					<div class="wn__address">
						<h2 class="contact__title">Thông tin về công ty</h2>
						<p>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí
							Minh cấp ngày 06/01/2010</p>
						<div class="wn__addres__wreapper">

							<div class="single__address">
								<i class="icon-location-pin icons"></i>
								<div class="content">
									<span>Địa chỉ:</span>
									<p>227 Đ. Nguyễn Văn Cừ, Phường 4, Quận 5, TP. Hồ Chí Minh</p>
								</div>
							</div>

							<div class="single__address">
								<i class="icon-phone icons"></i>
								<div class="content">
									<span>SĐT:</span>
									<p>716-298-1822</p>
								</div>
							</div>

							<div class="single__address">
								<i class="icon-envelope icons"></i>
								<div class="content">
									<span>Email address:</span>
									<p>bookstore.qtv@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pb--80 ">
				<div class="container">
					<div class="row ">
						<div class="col-lg-12 col-12 md-mt-40 sm-mt-40">
							<div class="content d-flex justify-content-center " >
								<div class="google__map">
									<iframe 
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.630773293551!2d106.67998301474876!3d10.762912992330719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIC0gxJDhuqFpIGjhu41jIFF14buRYyBHaWEgVFAuSENN!5e0!3m2!1svi!2s!4v1608878331562!5m2!1svi!2s"
										width="800" height="600" frameborder="0" allowfullscreen="" aria-hidden="false"
										tabindex="0" id="googleMap"></iframe>
								</div>

							</div>
						</div>
					</div>				
				</div>
			</div>

		</div>


	</section>
	<!-- End Contact Area -->
</div>
<!-- //Main wrapper -->