<!-- Start Search Popup -->
<div class="box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" action="#">
        <div class="field__search">
            <input type="text" placeholder="Search entire store here...">
            <div class="action">
                <a href="#"><i class="zmdi zmdi-search"></i></a>
            </div>
        </div>
    </form>
    <div class="close__wrap">
        <span>close</span>
    </div>
</div>
<!-- End Search Popup -->
<div id="tt-pageContent">
    <div class="container-indent mt-10">
        <div class="container container-fluid-custom-mobile-padding">
            <div class="tt-shopping-layout d-flex justify-content-center">
                <div class="tt-wrapper col-lg-6 col-12 text-align-center ">
                    {{#if message}}
                        <div class="alert alert-primary " role="alert">
                            {{message}}
                        </div>
                    {{/if}}
                    <div class="account__form ">
                        <form method="POST" action="/user/forget-password">
                            <div class="input__box">
                                <label for="username">Username <span></span></label>                                
                                <input id = "username" type="text"  required name="username">
                            </div>
                            
                            <div class="input__box">
                                <label for="email">Địa chỉ Email <span>(Mật khẩu mới sẽ được gửi về Email)</span></label>                                
                                <input id = "email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  required name="email">
                            </div>
                            
                            <div class="row tt-offset-21 my-3 d-flex justify-content-center">
                                <div class="col-auto text-align-center">
                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>