<!-- Start Search Popup -->
<div class="box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" action="#">
        <div class="field__search">
            <input type="text" placeholder="Search entire store here...">
            <div class="action">
                <a href="#"><i class="zmdi zmdi-search"></i></a>
            </div>
        </div>
    </form>
    <div class="close__wrap">
        <span>close</span>
    </div>
</div>
<!-- End Search Popup -->
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">THAY ĐỔI MẬT KHẨU</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="/">Trang chủ</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Thay đổi mật khẩu</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<div id="tt-pageContent">
    <div class="container-indent mt-5">
        <div class="container container-fluid-custom-mobile-padding">
            <div class="tt-shopping-layout d-flex justify-content-center">
                <div class="tt-wrapper col-lg-6 col-12 text-align-center">
                    {{#if result}}
                    <div class="alert alert-primary " role="alert">
                        {{result}}
                    </div>
                    {{/if}}
                    <div class="account__form ">
                        <form method="POST" action="/user/password">
                            <div class="input__box">
                                <label>Mật khẩu hiện tại<span>*</span></label>
                                <div class="password_input">
                                    <input id="password" type="password" minlength="8" required name="cur_password">
                                    <i class="far fa-eye" id="togglePassword"></i>
                                </div>

                            </div>
                            <div class="input__box">
                                <label>Mật khẩu mới<span>*</span></label>
                                <div class="password_input">
                                    <input id="newpassword" type="password" minlength="8" required name="new_password">
                                    <i class="far fa-eye" id="toggleNewPassword"></i>

                                </div>
                            </div>
                            <div class="input__box">
                                <label>Xác nhận mật khẩu<span>*</span></label>
                                <div class="password_input">
                                    <input id="repassword" type="password" minlength="8" required name="re_password">
                                    <i class="far fa-eye" id="toggleRePassword"></i>
                                </div>


                            </div>
                            <div class="row tt-offset-21 my-3 d-flex justify-content-center">
                                <div class="col-auto text-align-center">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });

    const toggleNewPassword = document.querySelector('#toggleNewPassword');
    const newPassword = document.querySelector('#newpassword');
    toggleNewPassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = newPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        newPassword.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });

    const toggleRePassword = document.querySelector('#toggleRePassword');
    const rePassword = document.querySelector('#repassword');
    toggleRePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = rePassword.getAttribute('type') === 'password' ? 'text' : 'password';
        rePassword.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>